extends layout

block content
  h1= title
  p ようこそ #[em 地域図書館] へ。Mozilla Developer Network のチュートリアル例として開発された、非常に基本的な Express ウェブサイトです。

  h1 ダイナミックコンテンツ

  p ライブラリーのレコード数は以下の通り：

  ul
    li #[strong 本:] !{book_count}
    li #[strong コピー:] !{book_instance_count}
    li #[strong コピー可:] !{book_instance_available_count}
    li #[strong 著者紹介:] !{author_count}
    li #[strong ジャンル:] !{genre_count}
